:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
    /* font-family: 'Kumbh Sans', sans-serif; */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url(./images/bg-pattern-bottom.svg);
    background-repeat: no-repeat;
    background-position-x: -28%;
    background-position-y: -56%;
    background-color: var(--dark-cyan);
}

.main {
    background: url(./images/bg-pattern-top.svg);
    background-repeat: no-repeat;
    background-position-x: 135%;
    background-position-y: 117%;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 85%;
    height: 64%;
    background-color: white;
    border-radius: 15px;
}

.background-color {
    height: 39%;
    background: url(./images/bg-pattern-card.svg);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    border-radius: 50%;
    position: relative;
    height: 6rem;
    width: 6rem;
    transform: translateY(59px);
    border: 5px solid white;
}

.name {
    height: 38%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-family: 'Kumbh Sans', sans-serif;
    border-bottom: 1px solid rgba(220,220,220);
}
.name h1 {
    font-size: 1.2rem;
    color: var(--very-dark-desaturated-blue);
    line-height: 1;
    justify-content: center;
    display: flex;
    font-weight: 700;
    padding: 1.8rem 1.8rem 1rem;
}
.name p{
    font-weight: 400;
    color: var(--dark-gray);
}
 span.age {
    margin-left: .5rem;
    font-weight: 400;
    color: var(--dark-grayish-blue);
 }

 .stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    justify-content: center;
    font-family: 'Kumbh Sans', sans-serif;
    height: 23%;
 }

 .stats h1 {
    font-size: 1.2rem;
    color: var(--very-dark-desaturated-blue);
    text-align: center;
 }

 .stats h3{
    font-size: 0.75rem;
    color: var(--dark-gray);
    text-align: center;
    margin-top: 0.4rem;
    letter-spacing: 1.5px;
    font-weight: 400;
 }

 .stats .likes {
    padding: 1rem 2rem 1rem 2rem;
 }

 @media screen and (min-width: 600px) {
    .card {
        width: 25%;
        height: 60%;
    }
    body {
        background-position-x: 31rem;
        background-position-y: 21rem;
    }
    .main {
        background-position-x: -31rem;
        background-position-y: -32rem
    }
 }